body{
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Muli', sans-serif;
}

.first-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    width: 100vw;
    background-color: #EAFBFF;
}

.first-container > .navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    position: absolute;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.35);
    height: 70px;
    width: 80px;
    background-color: white;
    bottom: -35;
    transition: width 0.6s linear;
}

.first-container > .navigation.active{
    width: 325px;
    transition: width 0.6s linear;
}

.second-container{
    height: 50vh;
    width: 100vw;
    background-color: #5290F9;
}

.menu.active{
    margin: 7px;
    font-weight: 10px;
    text-decoration: none;
    color: rgb(60, 60, 60);
    opacity: 1;
    transform: rotateY(360deg);
}

.menu{
    margin: 7px;
    font-weight: 10px;
    text-decoration: none;
    color: rgb(60, 60, 60);
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform 0.6s linear, opacity 0.6s linear;
}

i{
    margin-left: 10px;
}

i:hover{
    cursor: pointer;
}